.mysidebar {
    width: 0;
}

.nav-categories {
    position: absolute;
    margin-top: 40vh;
    /* width: 0; */
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
}

.mtn15 {
    margin-top: -12px; !important;
}
